<ion-list [inset]="true">
  <ion-item>
    <ion-buttons>
      <ion-button (click)="selectAll(true)"
                  [ngClass]="[
      selectedCategories.length == categories.length ?'text-blue-800':''
      ]">
        {{ 'CategoryStatistics.SelectAllCategoriesButton'|translate }}
      </ion-button>
      <ion-button (click)="selectAll(false)"
                  [ngClass]="[
      selectedCategories.length == 0 ?'text-blue-800':''
      ]">
        {{ 'CategoryStatistics.DeSelectAllCategoriesButton'|translate }}
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item>
    <ion-select
      [label]="'CategoryStatistics.ChoseCategoriesLabel'|translate "
      labelPlacement="floating"
      multiple
      [(ngModel)]="selectedCategories"
      (ionChange)="updateChart()">
      <ion-select-option *ngFor="let cat of categories" [value]="cat.id">
        {{ cat.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select
      [label]="'Statistics.YearLabel'|translate"
      labelPlacement="floating"
      [(ngModel)]="selectedYear"
      (ionChange)="updateChart()">
      <ion-select-option *ngFor="let year of years" [value]='year'>{{ year }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <canvas baseChart
            [datasets]="lineChartData.datasets"
            [labels]="monthsName"
            [options]="lineChartOptions"
    ></canvas>
  </ion-item>
  <ion-item>
    <ion-buttons>
      <ion-button (click)="setLineChart(0)" [ngClass]="[selectQuarter == 0 ? 'text-blue-900':'']">
        {{ allMonthsName[0] }}-{{ allMonthsName[2] }}
      </ion-button>

      <ion-button (click)="setLineChart(1)" [ngClass]="[selectQuarter == 1 ? 'text-blue-900':'']">
        {{ allMonthsName[3] }}-{{ allMonthsName[5] }}
      </ion-button>

      <ion-button (click)="setLineChart(2)" [ngClass]="[selectQuarter == 2 ? 'text-blue-900':'']">
        {{ allMonthsName[6] }}-{{ allMonthsName[8] }}
      </ion-button>

      <ion-button (click)="setLineChart(3)" [ngClass]="[selectQuarter == 3 ? 'text-blue-900':'']">
        {{ allMonthsName[9] }}-{{ allMonthsName[11] }}
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
