<div class="ion-page">
  <app-app-ionic-header [title]="'AllPurchases.Title'|translate" hasBackButton/>
  <ion-content>
    <div class="container ion-padding mx-auto">

      <ion-accordion-group [multiple]="true">
        <ion-accordion *ngFor="let cat of cats; trackBy: trackByCategoryId" [value]="cat.category.id">
          <ion-item slot="header">
            <ion-label>{{ cat.category.name }} {{ cat.totalPrice|currency:'EGP' }}</ion-label>
          </ion-item>
          <ion-list inset slot="content">
            <ion-item *ngFor="let purchase of cat.purchases; trackBy: trackByPurchaseId">
              <div class="flex flex-col gap-1 p-3 w-full">
                <ion-label><b>{{ 'Home.Day'|translate }}:</b> {{ purchase.date|date:'EEEE d MMMM' }}</ion-label>

                <ion-label><b>{{ 'Home.Category'|translate }}:</b> {{ purchase.category.name }}</ion-label>

                <ion-label><b>{{ 'Home.Place'|translate }}:</b> {{ purchase.place.name }}</ion-label>

                <ion-label><b>{{ 'Home.Price'|translate }}:</b> {{ purchase.priceInEGP|currency:'EGP' }}</ion-label>

                <ion-button color="danger" (click)="deleteHandler(purchase)">{{ 'Options.Delete'|translate }}
                </ion-button>
              </div>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>


    </div>
  </ion-content>
</div>
