<ion-split-pane contentId="main-content" when="md">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'Menu.Title'|translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/" routerDirection="forward" [routerLinkActiveOptions]="{exact:true}"
                    routerLinkActive="active-link">
            {{ 'Menu.Home'|translate }}
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/places" routerDirection="forward" routerLinkActive="active-link">
            {{ 'Menu.Places'|translate }}
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/categories" routerDirection="forward" routerLinkActive="active-link">
            {{ 'Menu.Categories'|translate }}
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/statistics" routerDirection="forward" routerLinkActive="active-link">
            {{ 'Menu.Statistics'|translate }}
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/settings" routerDirection="forward" routerLinkActive="active-link">
            {{ 'Menu.Settings'|translate }}
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
