<div class="ion-page">
  <app-app-ionic-header [title]="'Statistics.Title'|translate" hasBackButton/>

  <ion-content>
    <div class="container ion-padding mx-auto">

      <ion-accordion-group [multiple]="true">

        <ion-accordion value="all" (click)="isOverallOpened = true">
          <ion-item slot="header">
            <ion-label>{{ 'Statistics.Overall'|translate }}</ion-label>
          </ion-item>
          <div *ngIf="isOverallOpened" slot="content">
            <app-overall-statistics/>
          </div>
        </ion-accordion>

        <ion-accordion value="categorize" (click)="isCategorizedOpened = true">
          <ion-item slot="header">
            <ion-label>{{ 'Statistics.Categorize'|translate }}</ion-label>
          </ion-item>

          <div *ngIf="isCategorizedOpened" slot="content">
            <app-category-statistics/>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </ion-content>
</div>
