<div class="ion-page">
  <app-app-ionic-header [title]="'Statistics.Title'|translate" hasBackButton/>

  <ion-content>
    <div class="container ion-padding mx-auto">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, dicta ducimus est ipsum molestiae
      molestias nesciunt non officia omnis optio praesentium quo quos similique tempore tenetur ullam veritatis!
      Impedit, sunt!
    </div>
<!--    <canvas baseChart-->
<!--            [datasets]="lineChartData"-->
<!--            [labels]="months"-->
<!--            [options]="lineChartOptions"-->
<!--    >-->
<!--    </canvas>-->
  </ion-content>
</div>
