<div class="ion-page">
  <app-app-ionic-header [title]="'Statistics.Title'|translate" hasBackButton/>

  <ion-content>
    <div class="container ion-padding mx-auto">

      <ion-accordion-group [multiple]="true">
        <ion-accordion value="all">
          <ion-item slot="header">
            <ion-label>{{ 'Statistics.Overall'|translate }}</ion-label>
          </ion-item>
          <ion-list [inset]="true" slot="content">
            <ion-item>
              <ion-select
                [label]="'Statistics.YearLabel'|translate"
                labelPlacement="floating"
                [value]="selectYear"
                (ionChange)="setMonthsPurchasesForYear($event.detail.value)">
                <ion-select-option *ngFor="let year of years" [value]='year'>{{ year }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <canvas baseChart
                      [datasets]="lineChartData.datasets"
                      [labels]="monthsName"
                      [options]="lineChartOptions"
              ></canvas>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </ion-content>
</div>
